<ion-view title="{{band.current.name}}"> <!-- title of nav bar -->
    <ion-header-bar class="bar bar-subheader">
        <div class="tabs">
            <a class="tab-item" ng-href="#/tab/band/overview">
                Bands
            </a>
        </div>
    </ion-header-bar>
    <ion-content padding="true"> <!-- Adds default padding. Must add manually. -->
        <section>
            <div class="row responsive-lg">
                <div class="col-33 col-center center-wrapper">
                    <img ng-src="{{band.current.imageSrc}}" class="">

                </div>
                <div class="col-67">
                    <h2>{{band.current.name}}</h2>

                    <p>{{band.current.genre}}</p>

                    <div class="list list-inset">
                        <div ng-repeat="set in bandSets" class="item">
                            <set-display set="set">
                            </set-display>
                        </div>
                    </div>

                </div>
            </div>


            <current-shows band="band"></current-shows>

            <div ng-repeat="card in band.current.cardData" class="bandCardData">
                <show-report card="card"></show-report>
            </div>

            <div class="row">
                <div class="col-50 col-left">

                </div>
                <div class="col-25 col-center center-wrapper">
                    Pregame
                </div>
                <div class="col-25 col-center center-wrapper">
                    Gametime
                </div>
            </div>

            <div class="row">
                <div class="col-50 col-left">
                    Total checkins
                </div>
                <div class="col-25 col-center center-wrapper">

                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.numCheckIns}}
                </div>
            </div>

            <div class="row">
                <div class="col-50 col-left">
                    Your avg. rating
                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.userPgRating}}
                    <!--                   <rating ng-model="band.current.ratingsData.userPgRating" max="5"></rating> -->
                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.userGtRating}}
                    <!--<rating ng-model="band.current.ratingsData.userGtRating" max="5"></rating>-->
                </div>
            </div>

            <div class="row">
                <div class="col-50 col-left">
                    Your people's avg. rating
                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.followedPgRating}}
                    <!--<rating ng-model="band.current.ratingsData.followedPgRating" max="5"></rating>-->
                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.followedGtRating}}
                    <!--<rating ng-model="band.current.ratingsData.followedGtRating" max="5"></rating>-->
                </div>
            </div>

            <div class="row">
                <div class="col-50 col-left">
                    FestivalTime avg. rating (this festival)
                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.sitesPgRating}}
                    <!--<rating ng-model="band.current.ratingsData.sitesPgRating" max="5"></rating>-->
                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.sitesGtRating}}
                    <!--<rating ng-model="band.current.ratingsData.sitesGtRating" max="5"></rating>-->
                </div>
            </div>

            <div class="row">
                <div class="col-50 col-left">
                    FestivalTime avg. rating (all time)
                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.siteAtPgRating}}
                    <!--<rating ng-model="band.current.ratingsData.siteAtPgRating" max="5"></rating>-->
                </div>
                <div class="col-25 col-center center-wrapper">
                    {{band.current.ratingsData.siteAtGtRating}}
                    <!--<rating ng-model="band.current.ratingsData.siteAtGtRating" max="5"></rating>-->
                </div>
            </div>


        </section>
    </ion-content>
</ion-view>




