<div data-role="page" id="festival_home">
    <section>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a data-role="button" ng-href="#/user/overview" data-shadow="false" data-theme="none">
                    People
                    <img src="images/yeoman.png" border="0"/>
                </a>
            </div>
            <a data-role="button" ng-href="#/band/overview" data-shadow="false" data-theme="none">
                Bands
                <img src="images/yeoman.png" border="0"/>
            </a>
        </div>
        <!-- /grid-a -->
    </section>
</div>
