<ion-view title="{{curFest.sitename}} {{}} Schedule"> <!-- title of nav bar -->
    <ion-content padding="true"> <!-- Adds default padding. Must add manually.
        -->
        <section>
            <ion-list>
                <a ng-repeat="band in bandArray | orderBy: ['priority', 'name']" class="item item-avatar"
                   ng-href="#/tab/band/detail/{{band.id}}">
                    <img ng-src="{{band.imageSrc}}">

                    <h2>{{band.name}}</h2>
                </a>
            </ion-list>
        </section>
    </ion-content>
</ion-view>
