<ion-view title="{{curFest.sitename}}"> <!-- title of nav bar -->
    <ion-content padding="true"> <!-- Adds default padding. Must add manually. -->
        <section>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a data-role="button" ng-href="#/tab/user/overview" data-shadow="false" data-theme="none">
                        People
                        <img src="images/yeoman.png" border="0"/>
                    </a>
                </div>
                <a data-role="button" ng-href="#/tab/band/overview" data-shadow="false" data-theme="none">
                    Bands
                    <img src="images/yeoman.png" border="0"/>
                </a>
            </div>
            <!-- /grid-a -->
        </section>
    </ion-content>
</ion-view>
