<ion-view title="Select Festival"> <!-- title of nav bar -->
    <ion-content padding="true"> <!-- Adds default padding. Must add manually. -->
        <section>


            <form ng-submit="festivals.chooseFest()">
                <fieldset>
                    <div class="list">
                        <label for="select-purchased" class="item item-input item-select">Select a purchased
                            festival:</label>
                        <select id="select-purchased" ng-model="festivals.selected"
                                ng-options="fest.sitename for fest in festivals.purchased track by fest.id"></select>
                    </div>
                    <button type="submit" name="submit" value="submitPurchased">Choose this festival</button>
                </fieldset>
            </form>
        </section>

        <section>
            <form ng-submit="festivals.chooseFest()">
                <fieldset>
                    <div class="list">
                        <label for="select-unpurchased" class="item item-input item-select">Select an unpurchased
                            festival:</label>
                        <select id="select-unpurchased" ng-model="festivals.selected"
                                ng-options="fest.sitename for fest in festivals.unpurchased track by fest.id"></select>
                    </div>
                    <button type="submit" name="submit" value="submitUnpurchased">Purchase this festival</button>
                </fieldset>
            </form>

        </section>

    </ion-content>
</ion-view>


<script id="modal.html" type="text/ng-template">
    <div class="modal" ng-controller="DateCtrl">
        <header class="bar bar-header bar-assertive">
            <h1 class="title">Select Date</h1>
        </header>
        <ion-content class="has-header">
            <h1>{{festivals.selected.sitename}}</h1>

            <div class="padding">
                <form ng-submit="festivals.chooseDate()">
                    <fieldset>
                        <div class="list">
                            <label for="select-date" class="item item-input item-select">Select date:</label>
                            <select id="select-date" ng-model="festivals.dateSelected" ng-options="date.name +
                                    ' (' + (date.baseDate | date) +
                                    ': in ' + date.venueData.name +
                                    ', ' + date.venueData.city +
                                    ', ' + date.venueData.state +
                                    ', ' + date.venueData.country +
                                    ')' for date in festivals.selected.dateData
                                     | orderBy: 'baseDate'
                                      track by date.id">
                            </select>
                        </div>
                        <button type="submit" name="submit" value="submitDate">Choose this date</button>
                    </fieldset>
                </form>

            </div>
        </ion-content>
    </div>
</script>
