<div data-role="page" id="login_create">
    <section>
        <form class="simple-login" role="form">
            <h1>Create FestivalTime Account</h1>
            <input type="username" autofocus required placeholder="Username" class="form-control max-width">
            <input type="email" required placeholder="a@xyz.org" class="form-control max-width">
            <button type="submit" class="loginbutton max-width">Create Account</button>
            <p><a ng-href="#/login/forgot">Already have an account but forgot your password?</a></p>
        </form>
    </section>
</div>
