<ion-view title="Create Account"> <!-- title of nav bar -->
    <ion-content padding="true"> <!-- Adds default padding. Must add manually. -->
        <section>
            <form class="simple-login" role="form">
                <h1>Create FestivalTime Account</h1>
                <input type="username" autofocus required placeholder="Username" class="form-control max-width">
                <input type="email" required placeholder="a@xyz.org" class="form-control max-width">
                <button type="submit" class="loginbutton max-width">Create Account</button>
                <p><a ng-href="#/login/forgot">Already have an account but forgot your password?</a></p>
            </form>
        </section>
    </ion-content>
</ion-view>