<ion-view title="Incorrect Password"> <!-- title of nav bar -->
    <ion-content padding="true"> <!-- Adds default padding. Must add manually. -->
        <section>
            <p>That password is incorrect.</p>
            <a ng-href="#/login">
                <button type="button" class="login max-width">Return to login screen</button>
            </a>
            <a ng-href="#/login/forgot/password">
                <button type="button" class="login_forgot_password max-width">Forgot password</button>
            </a>
            <a ng-href="#/login/create">
                <button type="button" class="login_create max-width">Create an account</button>
            </a>

        </section>
    </ion-content>
</ion-view>
