<ion-view title="Username/Email not Recognized"> <!-- title of nav bar -->
    <ion-content padding="true"> <!-- Adds default padding. Must add manually. -->
        <section>
            <p>That username is incorrect.</p>

            <a ui-sref="ft.login.login">
                <button type="button" class="login max-width">Return to login screen</button>
            </a>
            <a ui-sref="ft.login.create">
                <button type="button" class="login_create max-width">Create an account</button>
            </a>

        </section>
    </ion-content>
</ion-view>
