<ion-view title="{{user.current.username}}"> <!-- title of nav bar -->
    <ion-header-bar class="bar bar-subheader">
        <div class="tabs">
            <a class="tab-item" ui-sref="^.overview">
            People
            </a>
        </div>
    </ion-header-bar>
    <ion-content padding="true"> <!-- Adds default padding. Must add manually. -->
        <section>
            <div>
                <div class="row">
                    <div class="col-33 col-center center-wrapper">
                        <img ng-src="{{userImage}}" class="">
                        <social-buttons ng-model="user.current"></social-buttons>

                    </div>
                    <div class="col-67">
                        <h2>{{user.current.username}}</h2>
                        <ul>
                            <li ng-repeat="fest in user.current.recentFests" class="item">
                                <p>{{fest}}</p>
                            </li>
                        </ul>
                    </div>
                </div>


                <section>
                    <span>{{status}}</span>
                    <!--Festival status -->
                </section>
                <section>

                    <!--Recent activity/location -->

                </section>
                <section>

                    <label for="atFav">All Time Favorites</label>
                    <ul id="atFav">
                        <li class="item">
                            <!--<p>{{fav}}</p>-->
                            <ft-band-avatar band-id="fav" ng-repeat="fav in user.current.atFav"></ft-band-avatar>
                        </li>
                    </ul>

                    <label for="atWorst">All Time Worst</label>
                    <ul id="atWorst">
                        <li class="item">
                            <!--<p>{{user.current.atWorst}}</p>-->
                            <ft-band-avatar band-id="user.current.atWorst"></ft-band-avatar>
                        </li>
                    </ul>
                    <label for="gtFav">{{currentFestivalData.sitename}} Favorites so far</label>
                    <ul id="gtFav">
                        <li class="item">
                            <ft-band-avatar band-id="fav"
                                            ng-repeat="fav in user.current.gtFav track by $index"></ft-band-avatar>
                        </li>
                    </ul>
                    <label for="pgFav">Excited to see</label>
                    <ul id="pgFav">
                        <li class="item">
                            <ft-band-avatar band-id="fav" ng-repeat="fav in user.current.pgFav"></ft-band-avatar>
                        </li>
                    </ul>

                </section>
                <section>
                    <!--Messages -->

                </section>
            </div>
        </section>
    </ion-content>
</ion-view>




