<?xml version='1.0' encoding='utf-8'?>
<widget id="us.festivaltime.gametime" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets">
    <name>ftGameTime</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="jkennaly@festivaltime.us" href="https://www.festivaltime.us">
        Jason Kennaly
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
